<div id="Twow">
<div id="Tdiv0" style="height: 64px; border-bottom: 1px solid #eee;">
    <canvas id="TmyCanvas0" width="64" height="43" style="float: left; margin-top: 6px; margin-right: 20px; margin-left: 20px;">
        Your browser does not support the HTML5 canvas tag.
    </canvas>
    <table style="font-size: 12px; height: 36px; line-height: 12px;">
        <tr style="height: 18px">
            <th>hash</th>
            <td id="Thash0"></td>
        </tr>
        <tr style="height: 18px">
            <th>price</th>
            <td id="price0"></td>
        </tr>
        <tr style="height: 18px">
            <th style="width: 85px;">time Stamp</th>
            <td id="Ttime0"></td>
        </tr>
    </table>

</div>
<div id="Tdiv1" style="height: 64px; border-bottom: 1px solid #eee;">
    <canvas id="TmyCanvas1" width="64" height="43" style="float: left; margin-top: 6px; margin-right: 20px; margin-left: 20px;">
        Your browser does not support the HTML5 canvas tag.
    </canvas>
    <table style="font-size: 12px; height: 36px; line-height: 12px;">
        <tr style="height: 18px">
            <th>hash</th>
            <td id="Thash1"></td>
        </tr>
        <tr style="height: 18px">
            <th>price</th>
            <td id="price1"></td>
        </tr>
        <tr style="height: 18px">
            <th style="width: 85px;">time Stamp</th>
            <td id="Ttime1"></td>
        </tr>
    </table>

</div>
<div id="Tdiv2" style="height: 64px; border-bottom: 1px solid #eee;">
    <canvas id="TmyCanvas2" width="64" height="43" style="float: left; margin-top: 6px; margin-right: 20px; margin-left: 20px;">
        Your browser does not support the HTML5 canvas tag.
    </canvas>
    <table style="font-size: 12px; height: 36px; line-height: 12px;">
        <tr style="height: 18px">
            <th>hash</th>
            <td id="Thash2"></td>
        </tr>
        <tr style="height: 18px">
            <th>price</th>
            <td id="price2"></td>
        </tr>
        <tr style="height: 18px">
            <th style="width: 85px;">time Stamp</th>
            <td id="Ttime2"></td>
        </tr>
    </table>

</div>
<div id="Tdiv3" style="height: 64px; border-bottom: 1px solid #eee;">
    <canvas id="TmyCanvas3" width="64" height="43" style="float: left; margin-top: 6px; margin-right: 20px; margin-left: 20px;">
        Your browser does not support the HTML5 canvas tag.
    </canvas>
    <table style="font-size: 12px; height: 36px; line-height: 12px;">
        <tr style="height: 18px">
            <th>hash</th>
            <td id="Thash3"></td>
        </tr>
        <tr style="height: 18px">
            <th>price</th>
            <td id="price3"></td>
        </tr>
        <tr style="height: 18px">
            <th style="width: 85px;">time Stamp</th>
            <td id="Ttime3"></td>
        </tr>
    </table>

</div>
<div id="Tdiv4" style="height: 64px; border-bottom: 1px solid #eee;">
    <canvas id="TmyCanvas4" width="64" height="43" style="float: left; margin-top: 6px; margin-right: 20px; margin-left: 20px;">
        Your browser does not support the HTML5 canvas tag.
    </canvas>
    <table style="font-size: 12px; height: 36px; line-height: 12px;">
        <tr style="height: 18px">
            <th>hash</th>
            <td id="Thash4"></td>
        </tr>
        <tr style="height: 18px">
            <th>price</th>
            <td id="price4"></td>
        </tr>
        <tr style="height: 18px">
            <th style="width: 85px;">time Stamp</th>
            <td id="Ttime4"></td>
        </tr>
    </table>

</div>
<div id="Tdiv5" style="height: 64px; border-bottom: 1px solid #eee;">
    <canvas id="TmyCanvas5" width="64" height="43" style="float: left; margin-top: 6px; margin-right: 20px; margin-left: 20px;">
        Your browser does not support the HTML5 canvas tag.
    </canvas>
    <table style="font-size: 12px; height: 36px; line-height: 12px;">
        <tr style="height: 18px">
            <th>hash</th>
            <td id="Thash5"></td>
        </tr>
        <tr style="height: 18px">
            <th>price</th>
            <td id="price5"></td>
        </tr>
        <tr style="height: 18px">
            <th style="width: 85px;">time Stamp</th>
            <td id="Ttime5"></td>
        </tr>
    </table>

</div>
</div>
<script>
//$("#scream").remove();
function TdrawBlock (id) {
    var Tcanvassss = document.getElementById(id);
    var Tctxxxx = Tcanvassss.getContext("2d");

    var Timg = new Image();
    Timg.src = 'assets/img/그룹 277.svg';
    Timg.onload = function (e)
    {
        Tctxxxx.drawImage(Timg, 0, 0);
    }

};
var Tlasttime = '';
var Toffset=0;

function TloadBlock(){
if (Toffset >= 6) { Toffset = 5; return};
$.ajax({
    type: "GET",
    url: 'json?dataset=transactiondata&next=' + Toffset,
    cache: true,
    async: false,
    success: function (data, status) {
        if (jQuery.isEmptyObject(data)) return;
        TdrawBlock('TmyCanvas' + Toffset);
        $('#Thash' + Toffset).append( '<a href="' + data['hash']['href'] + '">' +
                                    data['hash']['hash'] + '</a>');
        $('#price' + Toffset).append(data['amount']);
        $('#Ttime' + Toffset).append(data['timestamp']);
        if (Toffset == 0)
            Tlasttime = data['timestamp'];
        Toffset++;
        TloadBlock();
    }
});
}
TloadBlock();

function TpushDown(){
    $('#Twow').prepend($('#Tdiv' + Toffset).detach());
    Toffset = (Toffset + 5) % 6;
}
</script>
